body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(236, 252, 253);
}

h1 {
    margin: 2rem;
}

form {
    text-align: left;
    background-color: rgb(246, 250, 255);
    width: 40rem;
    margin: auto;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    color: rgb(66, 76, 97);
    margin: 0.5rem 0;
}

input, textarea, select {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(152, 159, 184);
    border-radius: 4px;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    background-color: rgb(217, 227, 247);
}

button {
    font: inherit;
    border: 1px solid rgb(51, 67, 100);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#clear {
    
}

#submit {

}